$TTL 300
@ IN SOA ns1.{{ dns_domain }}. hostmaster.{{ dns_domain }}. (
  {{ dns_zone_serial }} 300 120 604800 300 )
@ IN NS ns1.{{ dns_domain }}.
@ IN NS ns2.{{ dns_domain }}.
{% for node in (groups['control_plane'] + groups['workers'] + groups['ceph_nodes']) | unique %}
{{ (hostvars[node].node_ip | default(hostvars[node].ansible_host)).split('.')[-1] }} IN PTR {{ node }}.{{ dns_domain }}.
{% endfor %}
{{ kubernetes_api_vip.split('.')[-1] }} IN PTR {{ kubernetes_api_fqdn }}.
{{ openstack_public_gateway_ip.split('.')[-1] }} IN PTR {{ openstack_public_fqdn }}.
{{ openstack_internal_gateway_ip.split('.')[-1] }} IN PTR {{ openstack_internal_fqdn }}.
{{ platform_gateway_ip.split('.')[-1] }} IN PTR {{ platform_gateway_fqdn }}.
{{ registry_gateway_ip.split('.')[-1] }} IN PTR {{ registry_fqdn }}.
