<div ng-controller="horizon.dashboard.container-infra.clusters.workflow.clusterTemplateController as ctrl">
  <div class="magnum-profile-card" ng-if="ctrl.clusterTemplate.id">
    <div class="magnum-profile-heading">
      <div><span class="magnum-eyebrow">SELECTED DEPLOYMENT PROFILE</span><h4>{$ ctrl.clusterTemplate.name|noName $}</h4></div>
      <span class="label label-primary">{$ ctrl.clusterTemplate.coe $}</span>
    </div>
    <div class="row">
      <dl class="col-sm-6">
        <dt>Kubernetes image</dt><dd>{$ ctrl.clusterTemplate.image_id $}</dd>
        <dt>Default control-plane flavor</dt><dd>{$ ctrl.clusterTemplate.master_flavor_id|noValue $}</dd>
        <dt>Default worker flavor</dt><dd>{$ ctrl.clusterTemplate.flavor_id|noValue $}</dd>
      </dl>
      <dl class="col-sm-6">
        <dt>Network driver</dt><dd>{$ ctrl.clusterTemplate.network_driver|noValue $}</dd>
        <dt>Volume driver</dt><dd>{$ ctrl.clusterTemplate.volume_driver|noValue $}</dd>
        <dt>TLS</dt><dd>{$ ctrl.clusterTemplate.tls_disabled ? 'Disabled' : 'Enabled' $}</dd>
      </dl>
    </div>
    <div class="magnum-profile-contract">
      <strong>Platform compatibility</strong>
      <span class="label" ng-class="ctrl.clusterTemplate.coe === 'kubernetes' ? 'label-success' : 'label-danger'">{$ ctrl.clusterTemplate.coe === 'kubernetes' ? 'Kubernetes' : 'Unsupported COE' $}</span>
      <span class="label" ng-class="ctrl.clusterTemplate.master_lb_enabled !== false ? 'label-success' : 'label-warning'">{$ ctrl.clusterTemplate.master_lb_enabled !== false ? 'Octavia endpoint' : 'Direct endpoint' $}</span>
      <span class="label label-info">{$ ctrl.clusterTemplate.labels.kube_tag || 'Image-defined version' $}</span>
    </div>
    <div class="alert alert-danger" ng-if="ctrl.clusterTemplate.coe !== 'kubernetes'">
      This platform workflow supports Kubernetes templates only. Select a Kubernetes deployment profile.
    </div>
    <div class="alert alert-warning" ng-if="ctrl.clusterTemplate.master_lb_enabled === false">
      This profile disables the supported Octavia API endpoint and is limited to experimental single-control-plane use.
    </div>
    <a ng-href="ngdetails/OS::Magnum::ClusterTemplate/{$ ctrl.clusterTemplate.id $}" ng-click="cancel()">Inspect complete profile</a>
  </div>
</div>
