{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans "Projects" %}{% endblock %}

{% block page_header %}
  {% include "horizon/common/_domain_page_header.html" with title=page_title %}
{% endblock page_header %}

{% block main %}
  <div class="alert alert-info">
    {% trans "One project inventory is shown below. User Project identifies tenant workloads; Platform / Service identifies OpenStack-operated projects that should normally be changed only by operators." %}
  </div>
  {{ tenants_table.render }}
{% endblock %}
